*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color:#f2f2f2;
    color:#000;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

.logo img{
    width:100px;
    height:auto;
}

nav ul{
    list-style:none;
    display:flex;
    gap:40px;
}

nav ul li a{
    text-decoration:none;
    color:black;
    font-size:14px;
    transition:color 0.3s;
}

nav ul li a:hover{
    color:red;
}

.login-btn{
    border:2px solid red;
    padding:6px 18px;
    border-radius:10px;
    text-decoration:none;
    color:black;
    font-size:14px;
    transition:all 0.3s;
}

.login-btn:hover{
    background-color:red;
    color:white;
}

.body{
    margin-top:150px;
    text-align:left;
    padding-left:80px;
}

.body h1{
    font-size:60px;
    font-weight:bold;
    color:red;
}

.body p{
    font-size:26px;
    margin-top:10px;
    color:#333;
}

nav ul li a.active {
    border-bottom: 2px solid red;
}
