<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/updateaccountstyles.css' %}">
</head>
<body>
  <div class="card">
    <div class="logo-container">
        <img src="{% static 'landingpage/photo/logo.png' %}" alt="TGP Logo" width="100">
    </div>
    <div class="welcome">Welcome to <span>TGP</span></div>
    <div class="subtitle">Inventory Management</div>

    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <label for="{{ form.username.id_for_label }}">Username:</label>
      {{ form.username }}

      <label for="{{ form.email.id_for_label }}">Email:</label>
      {{ form.email }}

      <button type="submit" class="btn">UPDATE ACCOUNT</button>
    </form>
  </div>
</body>
</html>
